.popoverBody{
    width:325px;
    max-width: 325px;
    background-color: #212322;
    --bs-popover-bg: #212322;
}

.verCarrito{
    color: white;
    text-align: center;
    margin-top:5px;
}

div ::-webkit-scrollbar {
    visibility: hidden;
    width: 0px;
}