.productImage{
    border-radius: 5px;
    border: solid 1px black;
}

.productsContainer{
    padding: 0;
    color: white;
}

.productName{
    padding: 0;
    text-align: left;
    padding-left:15px;
    
}

.productName > p{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-weight: bold;
}

.productRow{
    width: 100%;
    margin: 0;
    height: 43px;
}

.priceRow{
    width: 100%;
    margin: 0;
}

.priceText{
    font-size: 12px;
    font-weight: none;
    padding-left: 15.5px;
}

.cross:hover, .minus:hover{
    fill:#ff0000;
}

.plus:hover{
    fill:#009532;
}