.buttons{
    --bs-btn-bg:#CDA075;
    --bs-btn-border-color: #CDA075;
    --bs-btn-hover-bg: #927357;
    --bs-btn-hover-border-color: #927357; 
    --bs-btn-active-bg: #705741 ;
    --bs-btn-active-border-color: #705741;
}

.btn:disabled, .btn.disabled, fieldset:disabled .btn {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: gray;
    border-color: gray;
    opacity: 0.4;
}
.gastosEnvio{
    font-style: italic;
}

.text-muted{
    font-size: 12px;
}
